# These files are dynamically created by the maven-dependency-plugin 
src/main/resources/site
src/main/resources/checkstyle

# These files are dynamically created by the maven-resources-plugin
src/site/markdown/coders-welcome.md
src/site/markdown/testers-welcome.md
src/site/markdown/documenters-welcome.md
src/site/markdown/translators-welcome.md

# Not sure I want to check in 200+ MB TIFFs, so ignoring for now...
src/test/resources/images/walters/*.tif
src/test/resources/walters_id_map.csv
