<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%level] %d{HH:mm:ss.SSS} [ %C{5} , %M , %L ] %m %n</pattern>
        </encoder>
    </appender>
    
    <appender name="FILEOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>target/logs/ingest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>target/logs/ingest.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>[%level] %d{HH:mm:ss.SSS} [ %C{5} , %M , %L ] %m %n</pattern>
        </encoder>
    </appender>
    
    <appender name="MAINLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>target/logs/djatoka.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>target/logs/djatoka.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>[%level] %d{HH:mm:ss.SSS} [ %C{5} , %M , %L ] %m %n</pattern>
        </encoder>
    </appender>
    
    <appender name="CACHER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>target/logs/tilecache.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>target/logs/tilecache.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>[%level] %d{HH:mm:ss.SSS} [ %C{5} , %M , %L ] %m %n</pattern>
        </encoder>
    </appender>

    <logger name="info.freelibrary.djatoka.view.IdentifierResolver" level="ERROR"/>
    <logger name="info.freelibrary.djatoka.view.ImageServlet" level="ERROR"/>
    <logger name="info.freelibrary.djatoka.view.ViewServlet" level="ERROR"/>
    <logger name="info.freelibrary.djatoka.util.HealthServlet" level="ERROR"/>

    <logger name="info.freelibrary.util.PairtreeObject" level="ERROR"/>
    <logger name="info.freelibrary.util.PairtreeRoot" level="ERROR"/>
    <logger name="info.freelibrary.util.FileUtils" level="ERROR"/>
    
    <logger name="info.freelibrary.djatoka.ingest" level="ERROR">
        <appender-ref ref="FILEOUT"/>
    </logger>

    <logger name="info.freelibrary.djatoka.TileCache" level="ERROR">
        <appender-ref ref="CACHER"/>
    </logger>

    <logger name="gov.lanl.adore.djatoka.openurl.TileCacheManager" level="ERROR"/>
    <logger name="gov.lanl.adore.djatoka.openurl.OpenURLServlet" level="ERROR"/>
    <logger name="gov.lanl.adore.djatoka.openurl.OpenURLJP2KService" level="ERROR"/>
    <logger name="gov.lanl.adore.djatoka.kdu.KduCompressExe" level="ERROR"/>

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="MAINLOG"/>
    </root>
</configuration>
