<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">

  <!-- used with the djatoka maven plugins -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern><![CDATA[[%level] %d{HH:mm:ss.SSS} [ %C{5} , %M , %L ] %m %n]]></pattern>
    </encoder>
  </appender>

  <appender name="INGEST"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>target/logs/ingest.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>target/logs/ingest.%d{yyyy-MM-dd}.log</FileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern><![CDATA[[%level] %d{HH:mm:ss.SSS} [ %C{5} , %M , %L ] %m %n]]></pattern>
    </encoder>
  </appender>

  <appender name="DJATOKA"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>target/logs/djatoka.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>target/logs/djatoka.%d{yyyy-MM-dd}.log</FileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern><![CDATA[[%level] %d{HH:mm:ss.SSS} [ %C{5} , %M , %L ] %m %n]]></pattern>
    </encoder>
  </appender>

  <appender name="CACHER"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>target/logs/tilecache.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>target/logs/tilecache.%d{yyyy-MM-dd}.log</FileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern><![CDATA[[%level] %d{HH:mm:ss.SSS} [ %C{5} , %M , %L ] %m %n]]></pattern>
    </encoder>
  </appender>

  <!-- Note location for LOGVIEWER is different so it's not watched/polled -->

  <appender name="LOGVIEWER"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>target/tmp/logviewer.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>target/tmp/logviewer.%d{yyyy-MM-dd}.log</FileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern><![CDATA[%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n]]></pattern>
    </encoder>
  </appender>

  <!-- Individual class level logging; then each off or on as needed -->
  <!--
  <logger name="info.freelibrary.util" level="DEBUG" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </logger>
  <logger name="info.freelibrary.djatoka.view.ImageServlet" level="DEBUG"/>
  <logger name="info.freelibrary.djatoka.util.DebugServletFilter" level="DEBUG"/>
  <logger name="info.freelibrary.djatoka.view.IdentifierResolver" level="DEBUG"/>
  <logger name="gov.lanl.adore.djatoka.openurl.DjatokaImageMigrator" level="DEBUG" />
  <logger name="gov.lanl.adore.djatoka.openurl.OpenURLJP2KService" level="DEBUG"/>
  -->
  <logger name="info.freelibrary.maven.DjatokaResampleMojo" level="DEBUG"/>

  <!-- Some stuff still in early development -->
  <logger name="info.freelibrary.djatoka.util.LogSocketServlet" level="DEBUG"
    additivity="false">
    <appender-ref ref="LOGVIEWER"/>
  </logger>
  <logger name="info.freelibrary.djatoka.util.LogSocket" level="DEBUG"
    additivity="false">
    <appender-ref ref="LOGVIEWER"/>
  </logger>
  <logger name="info.freelibrary.djatoka.util.LogWatcherThread" level="DEBUG"
    additivity="false">
    <appender-ref ref="LOGVIEWER"/>
  </logger>
  <!-- End of early development stuff -->

  <!-- Log file for the file system ingest process -->
  <logger name="info.freelibrary.djatoka.ingest" level="DEBUG"
    additivity="false">
    <appender-ref ref="INGEST"/>
  </logger>

  <logger name="info.freelibrary.maven" level="DEBUG" additivity="false">
    <appender-ref ref="INGEST"/>
    <appender-ref ref="CONSOLE"/>
  </logger>

  <!-- Log file for the pre-generating tile cache utility -->
  <logger name="info.freelibrary.djatoka.TileCache" level="DEBUG"
    additivity="false">
    <appender-ref ref="CACHER"/>
  </logger>

  <!-- Log file for everything else -->
  <root level="INFO">
    <appender-ref ref="DJATOKA"/>
  </root>

</configuration>
