body {
  font-family: 'Karla', sans-serif;
}

h2 {
  padding: 4px 0px 4px 10px;
  margin: 5px 0px 5px 0px;
}

dl {
  list-style-type: none;
  margin: 0px;
  padding: 5px;
}

dd,dt {
  margin: 0px;
  padding: 0px;
  display: inline;
}

a:link,a:active,a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #00FF00;
  text-decoration: none;
}

#header {
  background: black;
  color: white;
  text-align: right;
  font-size: smaller;
  margin: 5px;
}

#logBox {
  background: black;
  height: 520px;
  width: 99.2%;
  margin: 5px;
  color: white;
  overflow-y: auto;
}

dt {
  color: #FF00FF;
}

#logEvents {
  height: auto;
  padding: 10px 10px;
}

a:link.active,a:active.active,a:visited.active {
  color: #00FF00;
  text-decoration: none;
}

span.active {
  color: #00FF00;
  text-decoration: none;
}